<div class="pb-4 mt-auto">
    <a href="/api/user/logout" class="d-flex align-items-center text-white text-decoration-none">
      <i class="fas fa-sign-out-alt fs-5 me-2"></i> Log out
    </a>
  </div>
  